

body{
	width:70%;
	margin:0px auto;
	
}


#holder{
	position:relative;
}

#addMail{
	width:110px;
	height:20px;
	float:right;
	
}

.contactList:nth-child(odd){
	background:#CCFFCC;
	

}

.contactList:nth-child(even){
	background:#DDCCCC;
	
}

#contactListModel{
	display:none;
	
}

#fieldTitle{
	float:left;
}

#mainProfile{
	width:100%;
	background:#EEEEEE;
}


#mainContactHolder{
	width:100%;
	background:#AAEEEE;
}

#profilePic{
	width:120px;
	height:120px;
	float:right;
	position:relative;
	
}


